

body {
    background: linear-gradient(to right, rgb(252, 20, 20), rgb(50, 100, 200));
    color: white;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65vh;
    width: 15vw;
    background-image: url("./images/wall.jpg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px;
    border-radius: 20px;
}

.form {
    position: absolute;
    margin-bottom: 270px;
}

label {
    display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    margin-bottom: 35px;
}

h1 {
    font-size: 2.5rem;
}

.search, .submit {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-family: inherit;
    border: none;
    outline: none;
    margin-bottom: 10px;
    color: white;
}
.search {
    background: #1b1b43;
    border-bottom: 1px solid #06ef06;
}

.submit {
    background: rgb(239, 101, 3);
    width: 270px;
    cursor: pointer;
}

.submit:hover, .submit:active {
    background: linear-gradient(to right, darkorange, rgb(251, 28, 3));
}

.cloudy {
    width: 40%;
    margin: 0 auto;
}

hr {
    width: 100%;
    margin-top: 20px;
}

.location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 26vw;
    margin-top: 80px;
}

.location span {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 10px;
}
.temperature {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 50px;
    height: 15vh;
    margin-bottom: 45px;
}

section {
    margin-top: 150px;
}

